*{
    margin: 0;
    padding: 0;
    list-style: none;
}
#page{
    width: 1200px;;
    margin: 0 auto;
}
.header{
    background-color: rgb(173, 253, 249);
    height: auto;
}
.container{
    position: relative;
    background-image: url(image/asa.jpg);
    background-size: 100% 100%;
    height:450px;
}
.marquee{
    color: rgb(255, 255, 255);
    background-color: rgb(120, 99, 221);
    size: 35px;
    font-size:larger;
}
header ul.menu li {
    position: relative;
    display: inline-block;
    font-size: 15px;
    font-variant: small-caps;
    height: 45px;
    font-weight: bolder;
}
header ul.menu li a {
    position: relative;
    display: inline-block;
    line-height: 45px;
    padding: 0 8px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}
header ul.menu li a:hover {
    color: #fff;
}
.clearfix {
    visibility: visible;
    clear: both;
}
.float-left{
    float: left;
    color: #fff;
}
.float-right{
    float: right;
}
.top-right{
    position: absolute;
    top: 0px;
    right: 0px;
    border-bottom-left-radius: 30px;
    padding-left: 10px;
    background-color: rgb(245, 22, 22);
}

.company-info{
    position: absolute;
    left: 0px;
    bottom: 50px;
    border-top-right-radius: 30px;
    padding-right: 20px;
    background-color: rgb(120, 190, 248);
}
.company-info h1{
    font-size: 50px;
    color: rgb(255, 248, 248);
    font-weight: bolder;
    padding-bottom: 5px;
    text-shadow: 0 0 10px rgb(168, 211, 252);
    
}
nav{
    background: rgb(255, 28, 28);
}
.company-data{
    right: 15px;
    color: rgb(139, 139, 223);
}

.col-25{
    width:auto;
}
.prod{
    margin:5px;
    padding:5px;
}
.prod>.name{
    size: 25px;
    color:rgb(109, 134, 218);
    font-size: larger;

}
.prod .name a{
    position: relative;
    display: inline-block;
    text-decoration: none;
}
.prod>.image{
    max-width:80%;
    height:150px;
    margin: 7px 6px 8px 9px;
}
.text{
    text-align: left;
    color: rgb(255, 255, 255);
    background-color: rgb(118, 105, 177);
    size: 35px;
    font-size: larger;
}
.footer{
    border-top:5px double rgb(0, 0, 0);
    line-height:50px;
    background-color:rgb(159, 242, 245);
    text-align:center;
    font-size: larger;
}